
  <table style="width:100%">
  <tr>
    <th>Seller Type</th>
    <th>Average in Euro</th>
  </tr>
  <tr>
    <td>dealer</td>
    <td>{{dealerAverage}}</td>
  </tr>
  <tr>
    <td>private</td>
   <td>{{privateAverage}}</td>
  </tr>
    <tr>
    <td>others</td>
     <td>{{othersAverage}}</td>
  </tr>
</table>